body{
    background-image: linear-gradient(270deg, #009dbd 0, #009ccd 3.57%, #009bdc 7.14%, #009ae9 10.71%, #0098f4 14.29%, #0095fd 17.86%, #0091ff 21.43%, #008dff 25%, #0088ff 28.57%, #0082ff 32.14%, #147bff 35.71%, #6173fb 39.29%, #866af1 42.86%, #a260e6 46.43%, #b855d8 50%, #ca4ac9 53.57%, #d93eb8 57.14%, #e433a7 60.71%, #ec2a95 64.29%, #f12483 67.86%, #f42471 71.43%, #f42960 75%, #f1334e 78.57%, #ed3d3d 82.14%, #e6482b 85.71%, #de5217 89.29%, #d45c00 92.86%, #c86600 96.43%, #bb6e00 100%);
}

#Cuerpo {           
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Barra-Navegacion {
    background-image: linear-gradient(270deg, #ff97c3 0, #ff97b4 4.17%, #ff99a6 8.33%, #ff9c98 12.5%, #ff9f8b 16.67%, #ffa47f 20.83%, #ffa974 25%, #ffae6a 29.17%, #ffb461 33.33%, #feb95b 37.5%, #f2be56 41.67%, #e6c354 45.83%, #d8c855 50%, #cacc58 54.17%, #bbd05e 58.33%, #abd465 62.5%, #9ad76f 66.67%, #87da7a 70.83%, #73dc86 75%, #5cde93 79.17%, #3cdfa2 83.33%, #00e1b0 87.5%, #00e1bf 91.67%, #00e2cf 95.83%, #00e2de 100%);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

#titulo {
    display: flex;
    margin: 0;
    color: black;
    font-size: x-large;
}

#menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin-left: 25px;
}

#menu a {
    display: flex;
    text-decoration: none;
    padding: 10px 25px;
    color: #000;
    font-weight: bold;
}

#menu a:hover {
    color: #ff073a;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.5px;
}

.imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagen-container img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}


@media (max-width: 576px) {
    #Cuerpo {
        flex-direction: column;
        align-items: center;
    }
    #menu {
        flex-direction: column;
    }
    #menu a {
        font-size: 14px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #menu li {
        margin: 10px;
    }
}
